.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 0 8px 8px 0;
    text-align: center;
  }
  
  .card img {
    width: 200px;
  }
  
  .card>div {
    padding-top: 1px;
    position: relative;
    box-sizing: border-box;
  }
  
  .card>div:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid black;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .cart-interaction {
    display: flex;
    justify-content: space-around;
  }
  
  .cart-interaction button {
    background-color: transparent;
    border: none;
    font-size: 30px;
  }
  
  .cart-interaction button:hover {
    cursor: pointer;
  }
  
  .cart-interaction button:disabled:hover {
    cursor: auto;
  }
  
  .cart-interaction button:first-child {
    color: red;
  }
  
  .cart-interaction button:first-child:disabled {
    color: grey;
  }
  
  .cart-interaction button:last-child {
    color: green;
  }